<!DOCTYPE html>
<html>
  <head>
    <title>user details </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome {{username}} </p>
     <h2> Your pwd is {{password}}  </h2>
   
    </body>
</html>
