<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>  {{title}}  </h1>
    <p>{{message}} </p></body>
    <form method="post">
  <label for="fname">First name:</label><br>
  <input type="text" name="username" ><br>
  <label for="lname">Last name:</label><br>
  <input type="text"  name="password" ><br><br>
  <input type="submit" value="Submit">
</form> 

</html>
